<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page | WebAuth</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

    <!-- Include FontAwesome for the menu icon -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMLLlR3kl40IhfdxGTVfYpXq9tYG53IYZ2Azb8F"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="logo"><a href="#">SomeOrdinaryBro</a></div>
        <ul class="links">
          <li>
            <a href="https://www.linkedin.com/in/sajidsabreen/">LinkedIn</a>
          </li>
          <li><a href="https://github.com/SomeOrdinaryBro">GitHub</a></li>
          <li><a href="https://www.instagram.com/saajixd">Instagram</a></li>
          <li><a href="https://sajidsabreen.netlify.app/">Portfolio</a></li>
          <li>
            <a href="{% url 'user-logout' %}" class="action_btn">Logout</a>
          </li>
        </ul>
      </div>
    </header>

    <video id="video-background">
      <source
        src="{% static 'images/Background-vid3.mp4' %}"
        type="video/mp4"
      />
    </video>

    <main>
      <section id="hero">
        <div class="welcome-txt">
          <h1>Welcome To My Landing Page</h1>
        </div>
        <a href="./Home Page/index.html" class="landing-button"> </a>
      </section>
    </main>
  </body>
</html>
